<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Home Page</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link th:replace="fragments/header :: link"/>
  <script th:replace="fragments/header :: script"></script>
</head>
<body>

<div th:replace="fragments/header :: header">Header</div>
  
<div class="container">
  <h1>Teams Application</h1>
</div>

</body>
</html>



 